.admin-ejt-container{
    margin-top: 10px;
    height: calc(100% - 60px);
}

.admin-ejt-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.ejt-container{
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;
}