<div class="account-container">
    <h1>MON COMPTE</h1>

    <div class="account-forms">

        <form class="account-form" [formGroup]="form1" (ngSubmit)="onSubmitAcountInfo()">
            <mat-icon class="account-icon" fontIcon="account_circle"></mat-icon>

            <div class="account-form-control">
                <div class="account-form-control-section">
                    <mat-form-field class="account-info-field">
                        <mat-label>Nom</mat-label>
                        <mat-icon matPrefix>account_circle</mat-icon>
                        <input matInput formControlName="username" required>
                    </mat-form-field>
                    <mat-form-field class="account-info-field">
                        <mat-label>Email</mat-label>
                        <mat-icon matPrefix>mail</mat-icon>
                        <input matInput formControlName="email" required>
                    </mat-form-field>
                </div>    
                
                <mat-checkbox *ngIf="!userService.isAdmin()" formControlName="delete">Supprimer mon compte</mat-checkbox>

                <div class="error">            
                    <p *ngIf="displayError">Echec de la mise à jour du compte. Merci de contacter l'association</p>
                </div>

                <button mat-raised-button [disabled]="form1.invalid" color="primary">Modifier mon compte</button>
            </div>     
        </form>

        <div class="account-form" *ngIf="adherents.length != 0">
            <mat-icon class="adherents-icon" fontIcon="supervised_user_circle"></mat-icon>
            <div class="account-form-control">
                <p *ngFor="let adherent of adherents" (click)="onSubmitEdit(adherent)">
                    <strong>{{adherent.lastname}} {{adherent.firstname}}</strong> 
                    ({{adherent.birthday | date:"dd.MM.yyyy"}}) :  
                    <span *ngIf="!!adherent.belt">
                        <span *ngIf="adherent.belt === BeltType.White"><img height="30" src="./../../../../../assets/belt/belt.white.png"> Blanche</span>
                        <span *ngIf="adherent.belt === BeltType.White1Yellow"><img height="30" src="./../../../../../assets/belt/belt.white1yellow.png"> Blanche 1 liseré</span>
                        <span *ngIf="adherent.belt === BeltType.White2Yellow"><img height="30" src="./../../../../../assets/belt/belt.white2yellow.png"> Blanche 2 liserés</span>
                        <span *ngIf="adherent.belt === BeltType.WhiteYellow"><img height="30" src="./../../../../../assets/belt/belt.whiteyellow.png"> Jaune</span>
                        <span *ngIf="adherent.belt === BeltType.Yellow"><img height="30" src="./../../../../../assets/belt/belt.yellow.png"> Jaune</span>
                        <span *ngIf="adherent.belt === BeltType.YellowOrange"><img height="30" src="./../../../../../assets/belt/belt.yellow.orange.png"> Jaune et orange</span>
                        <span *ngIf="adherent.belt === BeltType.Orange"><img height="30" src="./../../../../../assets/belt/belt.orange.png"> Orange</span>
                        <span *ngIf="adherent.belt === BeltType.OrangeGreen"><img height="30" src="./../../../../../assets/belt/belt.orange.green.png"> Orange et verte</span>
                        <span *ngIf="adherent.belt === BeltType.Green"><img height="30" src="./../../../../../assets/belt/belt.green.png"> Verte</span>
                        <span *ngIf="adherent.belt === BeltType.GreenBlue"><img height="30" src="./../../../../../assets/belt/belt.green.blue.png"> Verte et bleue</span>
                        <span *ngIf="adherent.belt === BeltType.Blue"><img height="30" src="./../../../../../assets/belt/belt.blue.png"> Bleue</span>
                        <span *ngIf="adherent.belt === BeltType.BlueBrown"><img height="30" src="./../../../../../assets/belt/belt.blue.brown.png"> Bleue et marron</span>
                        <span *ngIf="adherent.belt === BeltType.Brown"><img height="30" src="./../../../../../assets/belt/belt.brown.png"> Marron</span>
                        <span *ngIf="adherent.belt === BeltType.Black"><img height="30" src="./../../../../../assets/belt/belt.black.png"> Noire</span>
                    </span>
                    <span *ngIf="!!!adherent.belt">N/A</span>
                    <mat-icon class="adherents-icon-detail" fontIcon="monitor_weight"></mat-icon>
                    <span *ngIf="!!adherent.weight">{{adherent.weight}} kg</span>
                    <span *ngIf="!!!adherent.weight">N/A</span>                    
                    <mat-icon class="adherents-icon-detail" fontIcon="badge"></mat-icon>
                    {{adherent.licenceCode}}
                </p>                
                <button mat-raised-button color="primary" (click)="onSubmitLink()">Ajouter un Adhérents</button>
            </div>
        </div>

        <form class="account-form" [formGroup]="form2" (ngSubmit)="onSubmitPassword()">
            <mat-icon class="key-icon" fontIcon="key"></mat-icon>
        
            <div class="account-form-control">
                <div class="account-form-control-section">
                    <mat-form-field class="account-password-field">
                        <mat-label>Ancien mot de passe</mat-label>            
                        <mat-icon matSuffix>lock</mat-icon>
                        <input matInput formControlName="oldPassword" required type="password" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="account-password-field">
                        <mat-label>Nouveau mot de passe</mat-label>            
                        <mat-icon matSuffix>lock</mat-icon>
                        <input matInput formControlName="password" required type="password" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="account-password-field">
                        <mat-label>Confirmer</mat-label>            
                        <mat-icon matSuffix>lock</mat-icon>
                        <input matInput formControlName="confirmPassword" required type="password" autocomplete="off">  
                        <mat-error *ngIf="form2.get('confirmPassword')?.hasError('notSame')">
                            Le mot de passe ne match pas
                        </mat-error>
                    </mat-form-field>
                </div>
            
                <button mat-raised-button [disabled]="form2.invalid" color="primary">Modifier du mot de passe</button>
            </div>
        </form>

    </div>
</div>

