<h1>Jigorō Kanō</h1>

<div class="jk-container">
    <div class="jk-text">
        <p>Jigorō Kanō, né le 10 décembre 1860 à Mikage, quartier de la ville de Kobe (Japon) et mort le 4 mai 1938 en mer sur le Hikawa Maru (à l'âge de 77 ans), est le fondateur du judo kodokan.</p>
        <br/>
        <p>Le judo est le premier art martial japonais à avoir obtenu une reconnaissance internationale, et le premier à avoir intégré les Jeux olympiques. Kanō est à l'origine d'innovations pédagogiques 
            telles que l'utilisation des ceintures noires et blanches, et l'introduction du système des grades Dan pour marquer la différence de niveau entre pratiquants d'un art martial. 
            Les maximes suivantes lui sont généralement attribuées : « Minimum d'effort, maximum d'efficacité » et « Entraide et prospérité mutuelle ».</p>
        <br/>
        <p>Dans sa vie professionnelle, Kanō était enseignant. Il fut notamment directeur de l'enseignement primaire pour le ministère de l'Éducation entre 1898 et 1901, puis président de la Tokyo Higher Normal School 
            de 1901 à 1920. Il a joué un rôle majeur pour que le judo et le kendo entrent dans le programme des écoles publiques japonaises dans les années 1910. Par ailleurs, il fut le premier membre asiatique du Comité 
            international olympique (CIO) de 1909 à 1938 ; il représenta officiellement le Japon à la plupart des Jeux olympiques tenus entre 1912 et 1936 et il fut porte-parole pour la candidature du Japon aux Jeux de 1940.</p>

        <br/><br/>

        <h2>Jeunesse</h2>
        <p>Jigorō Kanō naquit à Mikage (Japon), à l'aube de l'ère Meiji, le 10 décembre 1860 (le 28e jour du 10e mois de l'ère Man'en, ce qui mènera à la célébration de son anniversaire le 28 octobre) dans une famille de cinq enfants 
            (trois garçons et deux filles) ; il était le troisième fils de Jirosaku Mareshiba Kanō, un brasseur de saké et sa femme, Sadako. Il se maria avec Sumako Takezoe, fille de Seisi Takezoe qui était ambassadeur du Japon en Corée. 
            Ils eurent neuf enfants, six filles et trois garçons.</p>
        <br/>
        <p>À neuf ans, il perdit sa mère. Son père fut alors nommé à Tokyo. Collégien puis étudiant brillant, il s'intéressa de près à la culture occidentale. Jigorō Kanō arriva à Tokyo en 1871 où il suivit de brillantes études à la faculté 
            des sciences politiques et des lettres. N'étant pas doté par la nature d'une musculature impressionnante, il commença par s'essayer à l'athlétisme, au tennis, ou encore au baseball mais il n'y trouva pas ce qu'il recherchait.</p>

        <br/><br/>

        <h2>Arts martiaux</h2>
        <p>Il apprit alors quelques rudiments de ju-jitsu, auprès de maître Masamoto Iso. Très appliqué, persévérant et soucieux de techniques, il maîtrise rapidement plusieurs styles de ju-jitsu (incluant ceux des koryū Kito Ryū et Tenjin Shin'yo Ryū) 
            qu'il commence à étudier en 1877, sous la tutelle de trois maîtres successifs : Hachinosuke Fukuda, Masamoto Iso et Tsunetoshi Iikubo. C'est en 1882 qu'il fonde le Kōdōkan, « Bâtiment pour l'Enseignement de la Voie » fondée sur les principes 
            des sports modernes dans le temple Eishoji à Tokyo. Neuf élèves le fréquentent alors. Il élabore le premier art martial moderne dont l'objectif n'est plus de combattre victorieusement ni de se combattre soi-même mais d'élever l'homme pour servir 
            l'humanité. C'est ainsi qu'il créa le Kodokan Judo en 1882, une année seulement après avoir obtenu son diplôme de l'université impériale de Tokyo dans différentes spécialités. Il n'a que vingt-deux ans.</p>
        <br/>
        <p>Kanō désire adapter le ju-jitsu à la nouvelle ère. Le ju-jitsu est une technique de combat à mains nues utilisée par les samouraïs sur le champ de bataille : sa seule vocation est de mettre, vite et bien, un attaquant hors d'état de nuire. Kano cherche 
            à le transformer en un moyen d'éducation du corps et de l'esprit « adapté à l'éducation de toute une nation ». Il renomme sa discipline de Ju-Jutsu (technique/art de la souplesse) à Ju-do (Voie de la souplesse), et fonde ainsi ce qui est probablement 
            le premier budō moderne. D'autres maîtres suivront en effet son exemple, transformant leur art de « technique » en « voie ».</p>
        <br/>
        <p>Le terme « souplesse » est à prendre au sens de « non-résistance » ou « adaptation ». Le principe est de ne pas chercher à résister à ce que cherche à faire le partenaire / adversaire mais à céder afin d'utiliser sa force pour soi. Ce principe 
            aurait été inspiré par l'observation de la végétation sous la neige, en constatant que « c'est en pliant que la souple branche de cerisier se débarrasse de l'adversaire hivernal dont le poids brise les branches rigides ».</p>

        <br/><br/>

        <h2>Décès et héritage</h2>

        <p>En 1934, Kanō arrête de faire des apparitions publiques à cause de problèmes de santé, probablement des calculs rénaux. La judoka anglaise Sarah Mayer écrit alors : « On ne pense pas qu'il vivra encore longtemps ». Cependant, Kanō continue à 
            venir à d'importants événements du Kodokan comme le Kagami biraki (Cérémonie du Nouvel An), et continue à faire en sorte que le judo devienne un sport olympique.</p>
        <br/>
        <p>Jigorō Kanō meurt à 6 heures 30 du matin, le 4 mai 1938, d'une pneumonie, sur le paquebot de la NYK Line Hikawa Maru, en rentrant du Caire.</p>
        <br/>
        <p>Jigorō Kanō n'a jamais eu de grade ; en tant que fondateur et directeur de l'école de la voie (Kodokan), il avait pour charge d'attribuer les grades (ou rangs) à ses disciples. Après sa mort, Jiro Nango, son neveu et successeur à la tête du 
            Kodokan, décide de lui attribuer le 12e dan à titre posthume en 1940 (année où auraient dû avoir lieu les Jeux olympiques à Tokyo, dont Kano avait été porte-parole de la candidature japonaise).</p>
    </div>

    <div class="jk-image">
        <img src="./../../../assets/Kano_Jigoro.jpg"/>
    </div>
</div>
