<h1>Jigorō Kanō</h1>

<div class="jk-container">
    <div class="jk-image">
        <img src="./../../../assets/Kano_Jigoro.jpg"/>
    </div>

    <div class="jk-text">
        <p>KANO Jigoro Shihan est né le 28 octobre 1860, il débute le jujitsu (style tenjin shin yo) sous la direction de Fukuda Hachinosuke en 1877, à l’âge de 18 ans. Diplômé de l’Université de Tokyo en 1881, il fonde le judo Kodokan en 1882 et devient assistant à l’école Gakushuin (réservé au pair du royaume). En 1882, le Kōdōkan, « Bâtiment pour l’Enseignement de la Voie » fondée sur les principes des sports modernes dans le temple Eishoji à Tokyo comprend neuf élèves qui le fréquentent alors. Il élabore le premier art martial moderne dont l’objectif n’est plus de combattre victorieusement ni de se combattre soi-même mais d’élever l’homme pour servir l’humanité. En 1889, il effectue une première mission en Europe comme attaché du ministre de la Marine Impériale.</p>
        <br/>
        <p>Il devient conseiller au ministre de l'Education pour lequel il effectue de nombreuses missions à l'étranger. Parallèlement, il sera proviseur de plusieurs grands lycées du Japon.</p>
        <br/>
        <p>Kano est nommé membre du Comité International Olympique (CIO) en 1909.</p>
        <br/>
        <p>Il crée une section de formation de professeur de judo au sein du Kodokan en 1911 et fonde la même année « l'association athlétique » du Japon dont il devient le premier président. Il assiste aux Jeux Olympiques de Stockholm en 1912 puis en 1920 à Anvers, en 1928 à Amsterdam, en 1932 à Los Angeles et Berlin en 1936.</p>
        <br/>
        <p>En 1932, est créé au Kodokan la société de recherches médicales sur le judo.</p>
        <br/>
        <p>Dans le but de proposer Tokyo, comme ville d'accueil des prochains Jeux Olympiques, il retourne en Europe en 1933. Il meurt en 1938 à bord du bateau qui le ramène au Japon.</p>
        <br/>
        <p>A titre Posthume, il obtient le deuxième rang impérial (Très haute distinction récompense) pour les services rendus à l'Empereur.</p>
        <br/>
        <p>Maitre Kano aspirait à la perfection par le judo et à l'amélioration du genre humain dans un esprit de prospérité mutuelle.</p>        
    </div>
</div>
