<h1>Qui sommes nous ...</h1>

<div class="quisommesnous-container">
    <div class="general">
        <div class="general-text">
            <p>L'EJT est un club né en 1984 au cœur du village de Montagny. Au Cours des années son activité s'est étendue sur la commune de Taluyers où il intervient dans le domaine périscolaire et les cours de jujitsu pour adultes et adolescents..</p>
            <p>Club a vocation familial, ouvert à tous, exigeant, bienveillant, il a pour but autant la pratique sportive du judo et de ses disciplines associées que la formation de futurs adultes bien dans leur corps et dans leur tête.</p>
            <p>La création avait un but précis que sa devise met en exergue « Etre vrai ». Michel Pinel, professeur et fondateur de l'EJT a voulu créer au travers du club, un lieu mais aussi un esprit en lien avec les arts martiaux et la vie en général.</p>
            <p>Voilà comment lors des 25 ans, il définissait l'EJT MONTAGNY</p>
            <p class="general-text-important">« Un club qui a une âme. »</p>
        </div>
        <div class="general-logo">
            <img alt="EJT Logo" src="../assets/logo.jpg" />
        </div>
    </div>

    <h2>Mot du président</h2>
    <div class="president">
        <p>Arrivé à l'EJT MONTAGNY par l'entremise de ma fille en 2009, je me suis toujours senti chez moi dans ce club. Puis, je me suis lancé comme adhérent dès 2013 et comme bénévole membre du bureau en 2016.</p>
        <p>Aujourd'hui, je suis président depuis 2019 et je me sens toujours aussi bien dans ce club à la fois familial et exigeant.</p>
        <p>Les enseignants poussent chacun vers la réussite et dans sa voie, la compétition, le plaisir et la découverte du judo et jujitsu.</p>
        <p>Tout le monde trouve sa place au sein de notre structure. Je suis fier d'appartenir à ce club.</p>
    </div>

    <h2>Mot de Michel, fondateur de l'EJT MONTAGNY, 5<sup>ème</sup> DAN</h2>
    <div class="fondateur">
        <p>
            <strong>Etre vrai :</strong><br/>
            <span>C'est la devise de l'Ecole de judo traditionnel de Montagny</span>
        </p>
        <p>
            <strong>Etre vrai,</strong><br/>
            <span>
                C'est poser les masques, s'accepter et s'aimer tel qu'on est.<br/>
                C'est accepter ses forces et ses faiblesses, ses qualités et ses défauts.<br/>
                C'est s'ouvrir à l'idée que chacun peut progresser.
            </span>
        </p>
        <p>
            <strong>Etre vrai,</strong><br/>
            <span>C'est renoncer à l'idée d'une hiérarchie de valeurs entre les êtres et voir en chacun la nature profonde, voir au-delà de la surface des apparences.</span><br/><br/>
            <span>Si l'on imagine un instant être supérieur à un autre, on se ferme à la possibilité de le comprendre et il devient impossible d'établir une communication vraie.</span><br/><br/>
            <span>Il est de même si l'on s'imagine inférieur.</span>
        </p>
        <p>
            <strong>Etre vrai</strong><br/>
            <span>C'est un moyen de retrouver la paix originelle entre les êtres.</span>
        </p>
    </div>

    <h2>Mot du bureau de l'EJT  MONTAGNY</h2>
    <div class="bureau">
        <p>Club dont les effectifs sont de 150 à 200 adhérents qui a formé près de 100 ceintures noires du 1<sup>er</sup> au 5<sup>ème</sup> Dan, qui a accompagné des athlètes des championnats départementaux aux championnats de France seniors 1 ère division.</p>
        <p>Ce club vit grâce à son ambiance familiale et l'investissement de bénévoles et des enseignants qui ont accompagné son développement et qui continuent à œuvrer en harmonie.</p>
        <p>L'objectif du club est que chacun trouve sa place et atteigne ses propres objectifs, d'une pratique sportive ludique ou de bien-être à une pratique sportive d'excellence dans les performances, ou bien encore, dans la connaissance profonde des arts martiaux et de soi-même.</p>
        <p>Nous accueillons et accompagnons chacun selon ses besoins et envies</p>
        <p>Soyez- les bienvenus et venez vous accomplir.</p>
        <p>Ne soyez pas une « pièce rapportée », mais une « plus-value » qui rende l'EJT encore meilleure à l'avenir.</p>
    </div>

    <h2>Les professeurs</h2>
    <div class="profs">
        <ng-container *ngFor="let element of profs;let i=index">
            <app-person [p]="element"/>
        </ng-container>
    </div>
    
    <h2>Les membres du bureau</h2>
    <div class="membres">
        <ng-container *ngFor="let element of members;let i=index">
            <app-person [p]="element"/>
        </ng-container>
    </div>

    <h2>Nos valeurs</h2>
    <div class="valeurs">
        <p>Nos valeurs sont celles du judo. Le Judo véhicule des valeurs fondamentales qui s'imbriquent les unes dans les autres pour édifier une formation morale. Le respect de ce code est la condition première, la base de la pratique du Judo.</p>
        
        <ul>
            <li><strong>L'amitié</strong> « C'est le plus pur des sentiments humains »</li>
            <li><strong>Le courage</strong> « C'est faire ce qui est juste »</li>
            <li><strong>La sincérité</strong> « C'est s'exprimer sans déguiser sa pensée »</li>
            <li><strong>L'honneur</strong> « C'est être fidèle à la parole donnée »</li>
            <li><strong>La modestie</strong> « C'est parler de soi-même sans orgueil »</li>
            <li><strong>Le respect</strong> « Sans respect aucune confiance ne peut naître »</li>
            <li><strong>Le contrôle</strong> de soi « C'est savoir se taire lorsque monte la colère »</li>
            <li><strong>La politesse</strong> « C'est le respect d'autrui »</li>
        </ul>
    </div>
</div>