@import "./../../../styles.scss";

.quisommesnous-container{
    height: calc(100% - 60px);
    overflow: auto;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
    width: calc(100%);

    .general, .membres, .profs, .valeurs{
        display: flex;
        flex-direction: row;
        width: calc(100% - 40px);
        background-color: $background-color-2;
        padding: 20px;
        border-radius: 10px;
    }

    .president{
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        background-color: $background-color-2;
        padding: 20px;
        border-radius: 10px;

        p{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }

    .membres, .profs{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .valeurs{
        display: flex;
        flex-direction: column!important;
        text-align: justify;
    }

    .general .general-logo{
        width: 20%;

        img{
            width: 100%;
        }
    }

    .general .general-text{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: justify;
        padding-right: 40px;

        p{
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .general {
        .general-text{
            width: 100%!important;
            padding-right: 10px!important;
        }
        .general-logo{
            width: 100%!important;
        }
    }

    .general, .membres, .profs, .valeurs {
        width: 100%!important;
        flex-direction: column!important;
        padding: 10px!important;
    }
}