<h1 mat-dialog-title *ngIf="data.type === Type.Add">Ajouter une COMPETITION</h1>
<h1 mat-dialog-title *ngIf="data.type === Type.Edit">Modification de la COMPETITION</h1>

<form class="competition-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" required type="date">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nom</mat-label>       
            <input matInput formControlName="name" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Adresse</mat-label>       
            <textarea  matInput formControlName="address" required></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Année de naissance min</mat-label>
            <input matInput formControlName="yearBirthdayMin" required type="number" min="1900" max="2100">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Année de naissance max</mat-label>
            <input matInput formControlName="yearBirthdayMax" required type="number" min="1900" max="2100">
        </mat-form-field>
    </div>
    <div mat-dialog-action>
        <button mat-raised-button [disabled]="form.invalid" color="primary">Sauvegarder</button>
    </div>
</form>    
