@import "./../../../styles.scss";

.stats-container{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;

    .chart-container{
        height: 100%;
        width: 50%;
        align-content: center;
        text-align: center;

        .canvas{
            display: inline!important;
        }
    }
}