@import "./../../../styles.scss";

.stats-container{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;

    .chart-container{
        height: 100%;
        width: 50%;
        align-content: center;
        text-align: center;

        .canvas{
            display: inline!important;
        }
    }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .stats-container{
        display: flex;
        flex-direction: column;
    
        .chart-container{
            width: 100%;
            align-content: center;
            text-align: center;
        }
    }
}