<h1>Administration ...</h1>

<mat-tab-group animationDuration="0ms">
    <mat-tab label="Photos"><app-admin-photos/></mat-tab>
    <mat-tab label="Documents"><app-admin-documents/></mat-tab>
    <mat-tab label="News"><app-admin-news/></mat-tab>
    <mat-tab label="Agenda"><app-admin-agenda/></mat-tab>
    <mat-tab label="Competitions"><app-admin-competitions/></mat-tab>
    <mat-tab label="Utilisateurs"><app-admin-users/></mat-tab> 
    <mat-tab label="Adhérents"><app-admin-adherent/></mat-tab>   
    <mat-tab label="EJT"><app-admin-ejt/></mat-tab>   
</mat-tab-group>