<h1 mat-dialog-title *ngIf="data.type === Type.Add">Ajouter un STAGE</h1>
<h1 mat-dialog-title *ngIf="data.type === Type.Edit">Modification d'un STAGE</h1>


<form class="stage-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div mat-dialog-content>
        <mat-form-field>
            <mat-label>Date de début</mat-label>
            <input matInput formControlName="start" required type="date">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Date de fin</mat-label>
            <input matInput formControlName="end" required type="date">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nom</mat-label>       
            <input matInput formControlName="name" required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Adresse</mat-label>       
            <textarea  matInput formControlName="address" required></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Année de naissance des plus petits</mat-label>
            <input matInput formControlName="yearBirthdayMin" required type="number" min="1900" max="2100">
        </mat-form-field>
        
        <mat-form-field>
            <mat-label>Année de naissance des plus grands</mat-label>
            <input matInput formControlName="yearBirthdayMax" required type="number" min="1900" max="2100">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Date max pour l'inscription</mat-label>
            <input matInput formControlName="maxInscriptionDate" required type="date">
        </mat-form-field>
    </div>
    <div mat-dialog-action>
        <button mat-raised-button [disabled]="form.invalid" color="primary">Sauvegarder</button>
    </div>
</form>