@import "./../../../styles.scss";

.horaire-container{
    display: flex;
    flex-direction: column;
    height: 100%;

    .document-display{
        width: calc(100%);
        height: calc(100% - 64px);
    }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .document-display{
        width: 100%;
        height: 100%;            
    }
}