<h1>Haku Michigami 9è DAN</h1>

<div class="hm-container">
    <div class="hm-image">
        <img src="./../../../assets/Haku_Michigami.png"/>
    </div>

    <div class="hm-text">
        <p>MICHIGAMI Haku est né en 1912. Il est arrivé en FRANCE en 1953 et y restera jusqu'à son décès en 2002 !</p>
        <br/>
        <p>MICHIGAMI Sensei a participé notamment à la formation <strong>d'Anton GEESINK</strong>, premier non-japonais à devenir Champion du Monde en 1961 et Champion Olympique en 1964.</p>
        <br/>
        <p>MICHIGAMI Sensei était d'une logique rigoureuse pour chaque technique et son enseignement des katas ne supportait aucun « à-peu-près ». </p>  
        <br/>
        <br/>
        <p><i class="hm-text-citation">« Si cinéma, ce n'est pas nécessaire étudier ! » </i>disait-il de sa voix forte.</p>

        <div class="hm-text-image">
            <img src="./../../../assets/Haku_Michigami - 1.png"/>
            <img src="./../../../assets/Haku_Michigami - 2.png"/>
            <img src="./../../../assets/Haku_Michigami - 3.png"/>
            <img src="./../../../assets/Haku_Michigami - 4.png"/>
        </div>

        <p>MICHIGAMI Sensei était aussi un expert de ken-jutsu.</p>
        
        <div class="hm-text-image">
            <img src="./../../../assets/Haku_Michigami - 5.png"/>
        </div>

        <br/>
        <p><i class="hm-text-citation">« MICHIGAMI sensei a été mon maître et celui d'Esteban CARRETERO-HEREDIA pendant de nombreuses années. » </i> Michel</p>
        
        <div class="hm-text-video">
            <div class="embed-youtube-one-clip"></div>
        </div>
    </div>
</div>

