@import "./../../../styles.scss";

.hm-container{
    display: flex;
    height: calc(100% - 100px);

    .hm-text{        
        overflow: auto;
        padding-right: 40px;
        width: 60%;

        div{
            margin: 30px;
        }

        p{
            text-align: justify;
        }

        .hm-text-citation{
            font-size: 20px!important;
        }

        .hm-text-image{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            img {
                display: block;
                width: 150px;
                height: auto;
            }
        }

        .hm-text-video{
            ::ng-deep .embed-youtube-one-clip {
                display: flex;
                justify-content: center; /* Center horizontally */
                align-items: center; /* Center vertically */
                border: 2px solid $primary-color;
                width: 100%;
                max-width: 680px;
                margin: auto; /* Center the entire container horizontally */
            }
        }
    }
    .hm-image{
        display: flex;
        align-items: center;        
        justify-content: center;
        width: 40%;

        img{
            max-height: 100%;
            max-width: 100%;
        }
    }
}

/* Responsive Styles */
@media screen and (max-width: 600px) {
    .hm-container{
        flex-direction: column;
        align-items: center;
        height: calc(100% - 50px);


        .hm-image{
            height: 50%;
            padding-bottom: 20px;
        }

        .hm-text {  
            width: 100%;
            padding-right: 0px;

            .hm-text-citation{
                font-size: 20px!important;
            }

            .hm-text-image{
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    padding-bottom: 10px;
                    display: block;
                    width: 150px;
                    height: auto;
                }
            }
        }
    }
}