<!-- Toolbar -->
<div class="toolbar" role="banner">  
  <div class="logo-container">
    <img alt="EJT Logo" src="../assets/logo.jpg" />
  </div>
  <h1>EJT - Judo de Montagny</h1>
  <div class="spacer"></div>
  <p class="username" *ngIf="userService.userSubject.value !== null">Bienvenue {{userService.userSubject.value.username}}</p>
  <a aria-label="Youtube" href="#" title="Youtube">
    <img alt="Youtube" src="../assets/youtube-icon.png"/>
  </a>
  <a aria-label="Facebook" href="#" title="Facebook">
    <img alt="Facebook" src="../assets/facebook-icon.png"/>
  </a>
  <a aria-label="Instagram" href="#" title="Instagram">
    <img alt="Instagram" src="../assets/instagram-icon.png"/>
  </a>
  <a aria-label="France Judo" target="#" href="https://www.ffjudo.com/" title="France Judo">
    <img alt="France Judo" src="../assets/france-judo-icon.png"/>
  </a>
  <a *ngIf="userService.userSubject.value !== null" [matMenuTriggerFor]="menu">
    <img alt="Menu" src="../assets/menu-icon.png"/>
  </a>
  <a *ngIf="userService.userSubject.value === null" routerLink="/login">
    <img alt="Profile" src="../assets/login-icon.png"/>
  </a>
  <a *ngIf="userService.userSubject.value !== null" (click)="logOff()">
    <img alt="Profile" src="../assets/logout-icon.png"/>
  </a>
</div>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="/account">
    <mat-icon aria-label="Compte" fontIcon="account_circle"></mat-icon>
    Mon compte
  </button>
  <button mat-menu-item routerLink="/document">
    <mat-icon aria-label="Documents" fontIcon="description"></mat-icon>
    Documents
  </button> 
  <button mat-menu-item [matMenuTriggerFor]="menuCompetition" *ngIf="!!userService.userSubject.value">
    <mat-icon aria-label="Compétitions" fontIcon="emoji_events"></mat-icon>
    Compétitions
  </button> 
  <button mat-menu-item routerLink="/admin" *ngIf="userService.isAdmin()">
    <mat-icon aria-label="Admin" fontIcon="settings"></mat-icon>
    Administration
  </button>
</mat-menu>
<mat-menu #menuCompetition="matMenu">
  <button mat-menu-item routerLink="/competitions">
    <mat-icon aria-label="Compétitions" fontIcon="emoji_events"></mat-icon>
    Compétitions - Résultat
  </button> 
  <button mat-menu-item routerLink="/competitionsInscription">
    <mat-icon aria-label="Compétitions" fontIcon="edit"></mat-icon>
    Compétitions - Inscription
  </button>
</mat-menu>

<!-- Menu -->
<div class="menu">
  <a routerLink="">
    <mat-icon aria-label="Accueil" fontIcon="home"></mat-icon>
    Accueil
  </a>
  <a routerLink="/quisommesnous">
    <mat-icon aria-label="QuiSommesNous" fontIcon="group"></mat-icon>
    Qui sommes nous
  </a>
  <a routerLink="/jigorokano">
    <mat-icon aria-label="JigoroKano" fontIcon="person"></mat-icon>
    Jigoro Kano
  </a>
  <a routerLink="/new">
    <mat-icon aria-label="News" fontIcon="info"></mat-icon>
    News
  </a>
  <a routerLink="/agenda">
    <mat-icon aria-label="Agenda" fontIcon="view_agenda"></mat-icon>
    Agenda
  </a> 
</div>

<div class="content" role="main">
  <div class="infos-container">

    <div class="sponsors-container info-container">
      <h1>Nos Soutiens</h1>
      <div class="sponsors-list">
        <a target="#" href="http://www.thierry-chefneux.com">
          <img src="../assets/sponsors/sponsors-1.png"/>
        </a>
        <a href="#">
            <img src="../assets/sponsors/sponsors-2.png"/>
        </a>
        <a href="#">
          <img src="../assets/sponsors/sponsors-3.png"/>
        </a>
        <a href="#">
          <img src="../assets/sponsors/sponsors-4.png"/>
        </a>
        <a target="#" href="http://www.garage-flachy.com">
          <img src="../assets/sponsors/sponsors-5.png"/>
        </a>
        <a target="#" href="http://crozatelectricite.com">
          <img src="../assets/sponsors/sponsors-6.png"/>
        </a>
        <a href="#">
          <img src="../assets/sponsors/sponsors-7.png"/>
        </a>
        <a href="#">
          <img src="../assets/sponsors/sponsors-8.png"/>
        </a>
        <a href="#">
          <img src="../assets/sponsors/sponsors-9.png"/>
        </a>
        <a href="#" href="https://manoirsakana.com">
          <img src="../assets/sponsors/sponsors-10.png"/>
        </a>
      </div>
    </div>

    <div class="contact-container info-container">
      <h1>Nous Contacter</h1>
      <div class="info-data-container">
        <mat-icon aria-label="Email" fontIcon="alternate_email"></mat-icon>
        <span>judo.ejt@gmail.com</span>
      </div>
      <h2>Dojo de Montagny</h2>
      <div class="info-data-container">
        <mat-icon aria-label="Adresse dojo de Montangy" fontIcon="location_on"></mat-icon>
        <span>774 montée de sourzy, <br/> 69700 Montagny</span>
      </div>
      <h2>Dojo de Taluyers</h2>
      <div class="info-data-container">
        <mat-icon aria-label="Adresse dojo de Taluyers" fontIcon="location_on"></mat-icon>
        <span>160 rue de la mairie, <br/> 69440 Taluyers</span>
      </div>
    </div>
    
  </div>
  <div class="route-outlet">
    <router-outlet></router-outlet>  
  </div>
</div>
<ngx-spinner type="ball-spin-clockwise"><p class="loader">Chargement ...</p></ngx-spinner>