<h1 mat-dialog-title><strong>Guide des tailles</strong></h1>
<div mat-dialog-content class="dialog-container">
    <h2>Comment prendre vos mesures</h2>
    <div class="images">
        <img src="./../../../../assets/sizeguide-judo-img1.png"/>
        <img src="./../../../../assets/sizeguide-judo-img2.png"/>
        <img src="./../../../../assets/sizeguide-judo-img3.png"/>
    </div>

    <h2>Tailles</h2>
    <div class="table">
        <div class="letter">
            <div class="size-title">TAILLE de JUDOGI</div>
            <div>A</div>
            <div>B</div>
            <div>C</div>
            <div>D</div>
            <div>E</div>
            <div>F</div>
        </div>
        <div class="clothe-name">
            <div class="size-title"></div>
            <div>VESTE</div>
            <div>MANCHE (MI-DOS)</div>
            <div>DOS</div>
            <div>LARGEUR</div>
            <div>PANTALON</div>
            <div>TAILLE</div>
        </div>
        <div class="size">
            <div class="size-item">
                <div>110</div>
                <div>52</div>
                <div>52</div>
                <div>40</div>
                <div>14.5</div>
                <div>61</div>
                <div>37</div>
            </div>
            <div class="size-item">
                <div>120</div>
                <div>56</div>
                <div>57.5</div>
                <div>42</div>
                <div>15.5</div>
                <div>69</div>
                <div>39.5</div>
            </div>
            <div class="size-item">
                <div>130</div>
                <div>60</div>
                <div>60.5</div>
                <div>44</div>
                <div>16.5</div>
                <div>74.5</div>
                <div>40.5</div>
            </div>
            <div class="size-item">
                <div>140</div>
                <div>64.5</div>
                <div>64</div>
                <div>46.5</div>
                <div>18</div>
                <div>79.5</div>
                <div>43</div>
            </div>
            <div class="size-item">
                <div>150</div>
                <div>69.5</div>
                <div>68</div>
                <div>49.5</div>
                <div>19</div>
                <div>84.5</div>
                <div>47.5</div>
            </div>
            <div class="size-item">
                <div>160</div>
                <div>74.5</div>
                <div>72</div>
                <div>53</div>
                <div>19.5</div>
                <div>89.5</div>
                <div>52.5</div>
            </div>
            <div class="size-item">
                <div>170</div>
                <div>79</div>
                <div>76.5</div>
                <div>57</div>
                <div>21</div>
                <div>95</div>
                <div>56</div>
            </div>
            <div class="size-item">
                <div>180</div>
                <div>82.5</div>
                <div>81</div>
                <div>60.5</div>
                <div>22.5</div>
                <div>101</div>
                <div>58.5</div>
            </div>
            <div class="size-item">
                <div>190</div>
                <div>86</div>
                <div>84</div>
                <div>63.5</div>
                <div>24</div>
                <div>106</div>
                <div>61.5</div>
            </div>
            <div class="size-item">
                <div>200</div>
                <div>90</div>
                <div>86.5</div>
                <div>66.5</div>
                <div>25.5</div>
                <div>110</div>
                <div>63</div>
            </div>
        </div>
    </div>

    <h2>Taille des ceintures</h2>

    <p>Il existe une formule pour choisir la taille adéquate de votre ceinture de judo. </p>
    <p>Mesurez votre tour de taille, multipliez-le par deux et ajoutez 95 cm.</p>
    <p>Si vous êtes entre deux tailles, optez pour la plus grande. Cette formule respecte la norme de la Fédération internationale de judo suivant laquelle la ceinture doit être plus longue de 20 à 30 cm de part et d'autre du noeud.</p>
    <p>Exemple pour un judoka dont le tour de taille mesure 73 cm : (73 x 2) + 95 = 241 cm. Nous recommandons de choisir une ceinture de judo de taille 2.5.</p>
</div>