<div class="reset-password-container">
    <h1>MOT DE PASSE OUBLIE</h1>
    <form *ngIf="!!!token" class="reset-password-form" [formGroup]="form1" (ngSubmit)="onSubmit1()">
        <mat-form-field>
            <mat-label>Nom</mat-label>
            <mat-icon matPrefix>account_circle</mat-icon>
            <input matInput formControlName="username" required>
        </mat-form-field>

        <button mat-raised-button [disabled]="form1.invalid" color="primary">Envoyer</button>
    </form>

    <form *ngIf="!!token" class="reset-password-form" [formGroup]="form2" (ngSubmit)="onSubmit2()">
        <mat-form-field class="reset-password-field">
            <mat-label>Code</mat-label>         
            <input matInput formControlName="code" required autocomplete="off">
        </mat-form-field>        
        <mat-form-field class="reset-password-field">
            <mat-label>Nouveau mot de passe</mat-label>            
            <mat-icon matSuffix>lock</mat-icon>
            <input matInput formControlName="password" required type="password" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="reset-password-field">
            <mat-label>Confirmer le nouveau mot de passe</mat-label>            
            <mat-icon matSuffix>lock</mat-icon>
            <input matInput formControlName="confirmPassword" required type="password" autocomplete="off">  
            <mat-error *ngIf="form2.get('confirmPassword')?.hasError('notSame')">
                Le mot de passe ne match pas
            </mat-error>
        </mat-form-field>

        <button mat-raised-button [disabled]="form2.invalid" color="primary">Envoyer</button>
    </form>
</div>
