<div class="contact-container info-container">
    <h1>Nous Contacter</h1>
    <div class="info-data-container">
      <mat-icon aria-label="Email" fontIcon="alternate_email"></mat-icon>
      <span>judo.ejt@gmail.com</span>
    </div>
    <h2>Dojo de Montagny</h2>
    <div class="info-data-container">
      <mat-icon aria-label="Adresse dojo de Montangy" fontIcon="location_on"></mat-icon>
      <span>774 montée de sourzy, <br/> 69700 Montagny</span>
    </div>
    <h2>Dojo de Taluyers</h2>
    <div class="info-data-container">
      <mat-icon aria-label="Adresse dojo de Taluyers" fontIcon="location_on"></mat-icon>
      <span>160 rue de la mairie, <br/> 69440 Taluyers</span>
    </div>
</div>
