<h1>Tarif ...</h1>

<div class="tarif-container">
    <p>Licence : 45€</p> <br/>
    <p>Tarif dégessifs pour les cours</p> <br/>
    <table class="full">
        <thead>
            <tr>
                <th></th>
                <th>De 3 à 13 ans</th>
                <th>A partir de 14 ans</th>
                <th>Prépa</th>
                <th>Prépa + Matériel à volonté</th>
                <th>Tout inclus</th>
                <th>Cours à la carte (Etudiants)</th>
                <th>Inscription en cours d'année au 1er janvier</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><b>Tarif 1</b> pour le 1er adhérent</td>
                <td>200€</td>
                <td>220€</td>
                <td>200€</td>
                <td>220€</td>
                <td>250€</td>
                <td>100€</td>
                <td>100€</td>
            </tr>            
            <tr>
                <td><b>Tarif 2</b> pour le 2ème adhérent</td>
                <td>190€</td>
                <td>210€</td>
                <td>190€</td>
                <td>210€</td>
                <td>240€</td>
                <td class="empty"></td>
                <td class="empty"></td>
            </tr>            
            <tr>
                <td><b>Tarif 3</b> pour les autres adhérents</td>
                <td>180€</td>
                <td>200€</td>
                <td>180€</td>
                <td>200€</td>
                <td>230€</td>
                <td class="empty"></td>
                <td class="empty"></td>
            </tr>
        </tbody>
    </table>

    <div class="small">
        <ul>
            <li><b>Tarif 1</b> pour le 1er adhérent</li>
                <ul>
                    <li><b>De 3 à 13 ans</b> : 200€</li>
                    <li><b>A partir de 14 ans</b> : 220€</li>
                    <li><b>Prépa</b> : 200€</li>
                    <li><b>Prépa + Matériel à volonté</b> : 220€</li>
                    <li><b>Tout inclus</b> : 250€</li>
                    <li><b>Cours à la carte (Etudiants)</b> : 100€</li>
                    <li><b>Inscription en cours d'année au 1er janvier</b> : 100€</li>
                </ul>
            <li><b>Tarif 2</b> pour le 2ème adhérent</li>
                <ul>
                    <li><b>De 3 à 13 ans</b> : 190€</li>
                    <li><b>A partir de 14 ans</b> : 210€</li>
                    <li><b>Prépa</b> : 190€</li>
                    <li><b>Prépa + Matériel à volonté</b> : 210€</li>
                    <li><b>Tout inclus</b> : 240€</li>
                </ul>
            <li><b>Tarif 3</b> pour les autres adhérents</li>
            <ul>
                <li><b>De 3 à 13 ans</b> : 180€</li>
                <li><b>A partir de 14 ans</b> : 200€</li>
                <li><b>Prépa</b> : 180€</li>
                <li><b>Prépa + Matériel à volonté</b> : 200€</li>
                <li><b>Tout inclus</b> : 230€</li>
            </ul>
        </ul>
        
    </div>

</div>